:root{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(11, 31, 73);
}

.navbar{
    border: 0px solid transparent;
    background-color: rgba(11, 31, 73, 0.973);
    background-blend-mode: lighten;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.304);
}

.navbar-brand{
    height: 30px;
}

.navbar-brand img{
    margin-top: -30px;
    transition: transform 0.3s;
}

.navbar-brand img:hover{
    border-radius: 10px;
    transform: scale(0.8);
    background-color: rgba(0, 0, 0, 0.336);
}

.navbar a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 12pt;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(190, 190, 190);
    transition: transform 0.3s;
}

.navbar a:hover{
    color: white;
    transform: scale(1.12);
    text-decoration: underline;
}

.nav-item{
    padding: 15px 30px;

}

.dropdown-menu{
    background-color: red;
}

.dropdown-menu a{
    padding: 10px 20px;
    font-size: 10pt;
    color: rgb(70, 70, 70);
}

.dropdown-menu a:hover{
    color: black;
    transform: scale(0.8);
}

.resume, .resume a{
    color: black;
    border-radius: 10px;
    background-color: rgb(0, 128, 255);
    text-decoration: underline;
    text-underline-offset: 10px;
}

.container-fluid{
    background-color: transparent;
}

.my-photo{
    margin-top: 120px;
    transform: rotate(-2deg);
    border-radius: 50%;
    transition: transform 0.3s;
}

.my-photo:hover{
    cursor: pointer;
    transform: scale(1.1) rotate(-3deg);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 2px 4px white;
}

.my-intro{
    font-size: 16pt;
    text-shadow: 0 2px 4px black;
    cursor: pointer;
    color: white;
}

.my-name{
    text-shadow: 0 2px 4px black;
    font-size: 3rem;
    cursor: pointer;
    display: inline-block;
    color: white;
    transition: transform 0.3s;
}

.my-name:hover{
    transform: scale(1.06);
    text-decoration: underline;
}

.my-info{
    cursor: default;
    width: 100%;
    letter-spacing: 1px;
    font-size: 20pt;
    color: white;
}

#mern:hover{
    cursor: pointer;
    text-decoration: underline;
}



.section-title:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 5px rgb(0, 86, 214);
}

.about-info{
    color: whitesmoke;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14pt;
}

.list{
    /* list-style-position: inside; */
    display: flex;
    gap: 30px;
    justify-content: left;
    color: white;
}

.section-title{
    text-align: center;
    color: rgb(34, 75, 199);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    margin-top: 100px;
    margin-bottom: 40px;
    transition: transform 0.3s;
    text-align: center;
}

.feature.col{
    height: 220px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.23);
    transition: transform 0.3s;
    transform: scale(0.9);
}

.feature.col:hover{
    cursor: pointer;
    transform: scale(0.8) rotate(-2deg);
    text-decoration: underline;
}

.fs-2{
    text-align: center;
    margin-bottom: 20px;
    /* margin-left: 50%; */
}

.card , .card img{
    border-radius: 5px;
    font-size: 12pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(0.95);
}

.typed-out{
    overflow: hidden;
    padding: 10px;
    border-right: 6px solid rgb(255, 255, 255);
    border-right-style: double;
    border-width: 2px;
    white-space: nowrap;
    animation: 
    typing 2s steps(25, end) forwards;
    /* font-size: 1.6rem; */
    width: 10;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 22% }
    color{width: 100%;};
  }


@media (max-width:768px){

    .navbar-brand img{
        margin-top: -30px;
        margin-left: -40px;
    }

    .navbar-brand img:hover{
        background-color: transparent;
    }

    .my-name{
        margin-top: 10px;
        padding: 10px;
        font-size: 30pt;
    }

    .my-info{
        font-size: 16pt;
        padding: 20px;
    }

    .my-photo{
        margin-top: 80px;
        /* width: 200px; */
    }

    .about-me h1{
        margin-bottom: -10px;
        font-size: 3rem;
    }

    .about-info{
        font-size: 11pt;
        padding: 50px;
    }

    .tott h2{
        margin-top: -20px;
        font-size: 3rem;
    }

    .feature-icon{
        width: 20px;
        margin-right: 200px;
    }

    .feature.col{
        height: 150px;
        width: 60%;
        margin: 10px auto;
    }

    .tott-name{
        font-size: 12pt;
    }
   
    @keyframes typing {
        from { width: 0 }
        to { width: 70% }
      }


}